@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap");

.form {
  margin: auto;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid #008200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 50%;
  font-family: "Gemunu Libre", sans-serif;;
}

.input--invalid {
  border-color: red;
  background-color: #fbdada;
}

button {
  border-radius: 1.25rem;
  background: #1DB954;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #000000;
  font-family: "Gemunu Libre", sans-serif;;
}

button:hover {
  cursor: pointer;
  background: #008200;
}