.image {
  width: 16rem;
  height: 16rem;
}

.image--active {
  width: 16rem;
  height: 16rem;
  border: 2px solid #008200;
}

.icon--play, .icon--pause {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: #1DB954;
}

.icon--play:hover, .icon--pause:hover {
  cursor: pointer;
  color: #008200;
}



