body {
  background-color: black;
}

.title {
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 4rem;
  margin-bottom: 4rem;
  color: #1DB954;
}

.card-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
  align-content: center;
}
