@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap");

h1 {
  font-size: 3rem;
  font-family: "Gemunu Libre", sans-serif;
  color: #ffffff;
}

.soundboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 1rem 3rem;
  background-color: #191919;
  border-radius: 2rem;
}

.quote {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0.5rem 0;
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  color: #ffffff;
}

.text {
  font-size: 1.5rem;
  font-family: "Gemunu Libre", sans-serif;
  color: #ffffff;
}

.container--title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 3rem;
  padding: 0 1rem;
}

.container--add {
  width: 15rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon--plus {
  color: #1DB954;
  font-size: 1.5rem;
}

.icon--cancel {
  color: red;
  font-size: 1.5rem;
}

.icon--cancel {
  cursor: pointer;
}

.icon--plus:hover {
  cursor: pointer;
  color: #008200;
}


@media screen and (min-width: 950px) {
  .soundboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5rem;
    background-color: #191919;
  }
}
