@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&family=Roboto+Slab&display=swap');

.loading-box {
  display: flex;
  flex-direction: column;
}

.loading {
  font-family: 'Roboto Slab', serif;
  margin: 1rem auto;
}

.loading-icon {
  border: 10px solid #f3f3f3; 
  border-top: 10px solid #1DB954; 
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation-name: spin;
  animation-duration: 1s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}