@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap");

body {
  background-color: black;
}

.title {
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 4rem;
  color: #1DB954;
}

